/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
header {
    height: 65px;
}
.header-left {
    font-size: 25px;
    line-height: 65px;
}
.top-wrapper h1 {
    font-size: 80px;
 }
 .top-wrapper h2 {
    font-size: 50px;
}
.title {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.btn {
    font-size: 30px;
    letter-spacing: 3px;
    padding: 8px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
footer {
    height: 120px;
}
.footer-logo {
    font-size: 25px;
}
}
/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
    header {
        height: 65px;
    }
    .header-left {
        font-size: 20px;
        line-height: 65px;
    }
    .top-wrapper h1 {
        font-size: 50px;
     }
     .top-wrapper h2 {
        font-size: 30px;
    }
    .title {
        font-size: 15px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }
    .btn {
        font-size: 20px;
        letter-spacing: 2px;
        padding: 5px 20px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    footer {
        height: 70px;
    }
    .footer-logo {
        font-size: 20px;
    }
}